# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# macOS
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts
