@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
  background-color: #000000;
  color: #f0f0fa;
  font-family: var(--font-barlow), Arial, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
