@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.95);
  font-family: var(--font-inter), Inter, -apple-system, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
